LINKEDIN_CLIENT_ID=784srb5koekrpe
LINKEDIN_CLIENT_SECRET=your_linkedin_client_secret
LINKEDIN_ACCESS_TOKEN=AQW1ixBfc7c4ONl5Z6X-_ihlfTd7nZjccWkF4G6flzYaJYPNRFCI4zh2Hf8JnYYjLTdxIPNrcmZq1fyinDjHomf1QoGZ4wo7bTXdtwdziKIrACeDMsSzovmMErUhteeRYzxkVyzbaSuiwvN5zuMNLL7uP3QxlkFgo_IYDZ-n8rNjHIoZMxVKliSKfLu72zTql5N9jGm4vdKtdp-bOmRU8rcW8IeN8VaZYbp8xxDGZSGVgnrwNXfX7BenVzDEt5yezNbWRM--G9_gJOQRA1JZMJrAsUsk6QHgQzYj8rw7a0TaAM7QqIS_-qCv1nXzx5cRsioh8Kl2h9NGcun64L49KsirMLasIw
LINKEDIN_AUTHOR_URN=urn:li:person:csnqqT10nZ